  :root {
      --primary-color: #115e70;
      --secondary-color: #bb882c;
      --tertiary-color: #a42828;
      --quaternary-color: #3d8091;
      --quinary-color: #f2f2f2;
  }

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  body {
      color: #042a38;
      font-family: Helvetica, Arial, sans-serif;
  }

  ul {
      list-style: none;
  }

  /* BEGIN HEADER STYLING */
  header {
      padding: 20px 35px;
      background-color: var(--primary-color);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 9999;
  }

  header h1 {
      font-size: 36px;
      padding: 0 10px;
  }

  header a {
      text-decoration: none;
      color: var(--quinary-color);
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      height: 100%;
  }

  header nav ul li a {
      padding: 10px 25px;
      font-weight: lighter;
  }
  /* END HEADER STYLING */

  /* BEGIN FOOTER STYLING */
  footer {
      background-color: var(--primary-color);
      color: var(--quinary-color);
      padding: 20px 35px;
      display: flex;
      justify-content: center;
      font-size: 20px;
  }
  
  footer p {
      text-align: center
  }
  /* END FOOTER STYLING */

  /* BEGIN SECTION STYLING */
  section {
      display: flex;
      justify-content: space-around;
  }

  .section-title {
      min-width: 10%;
  }

  .section-title h2 {
      font-size: 28px;
  }

  section h3 {
      font-size:20px;
  }

  .section-container {
      max-width: 90%;
  }

  .about .section-title, .work .section-title, .contact .section-title {
      padding: 30px 4%;
      flex: 0 20%;
  }

  .section-content {
      display: flex;
  }

  .about-img {
      padding: 30px 60px;
      flex: 1 25%;
  }

  .about-img img {
      max-width: 100%;
  }

  .section-info {
      padding: 30px 20px;
      display: flex;
  }

  .section-projects {
      padding: 30px 60px;
      flex: 1 80%;
  }

  .section-contacts {
      padding: 30px 60px;
      padding-right: 10%;
      flex: 1 80%;
  }

  .about h2, .work h2, .contact h2 {
      color: var(--quinary-color);
      text-align: right;
  }

  .about {
      background-color: var(--secondary-color);
  }

  .about .section-info {
      flex: 2 50%;
      padding-right: 10%;
      padding-left: 0;
  }

  .work {
      background-color: var(--tertiary-color);
  }

  .section-projects {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 30px 60px;
      padding-right: 10%;
  }

  .section-projects article {
      flex: 1 45%;
      margin: 20px 0;
      height: 200px;
      max-width: 1080px;
      position: relative;
      color: var(--quinary-color);
      overflow: hidden;
      position: relative;
  }

  .project-title {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(164, 40, 40, 0.8);
      padding: 6px 16px;
      width: 100%;
  }

  article img {
      object-fit: cover;
      max-width: 100%;
      overflow: hidden;
  }
  
  article a {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 9999;
  }

  .section-projects article:nth-child(odd) {
      margin-left: 2.5%;
  }

  .section-projects article:nth-child(even) {
      margin-right: 2.5%;
  }

  .section-projects article:first-child {
     flex: 1 90%;
     margin: 0 0 20px 0;
     height: 400px;
}

  .contact {
      background-color: var(--quaternary-color);
  }

  .section-contacts ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
  }

  .section-contacts ul li a {
      color: var(--primary-color);
      text-decoration: none;
      padding: 10px 25px;
  }
    /* END SECTION STYLING */

    /* BEGIN UTILITY STYLES */
  .trans-white-bg {
      background-color: rgba(255, 255, 255, 0.85);
  }

  .insert-break::before {
      content: "\a";
      white-space: pre;
  }
    /* END UTILITY STYLES */